<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thienpro.mvp_firebase">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".view.activity.EditPostActivity"/>
        <activity android:name=".view.activity.UserLocationActivity"
            android:theme="@style/DarkTheme" />
        <activity android:name=".view.activity.ListLocationActivity" />
        <activity android:name=".view.activity.AppSettingActivity" />
        <activity android:name=".view.activity.LoginActivity" />
        <activity
            android:name=".view.activity.HomeActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".view.activity.RegisterActivity" />
        <activity android:name=".view.activity.EditInfoActivity" />
        <activity android:name=".view.activity.PostActivity" />
        <activity android:name=".view.activity.VerifiEmailActivity" />
        <activity android:name=".view.activity.RegisterDetailActivity" />
        <activity android:name=".view.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

    </application>

</manifest>